
{% extends 'basemain.html' %}
{% block content %}
{% load static %}

<div style="background: linear-gradient(to left, #778899 ,#708090)">
<div class="container">
<div class="row mt-3 " style="border-bottom: 2px solid  #778899 ">
<div class="col-md-8">

<h2 class="pt-5" style="font-family: Century Gothic ; color: white"> At Healthflex, we provide easy-to-read, in-depth, authoritative medical information for consumers via its robust,user-friendly, interactive website. </h2>
<p class="text-light pt-4" style="font-family: Century Gothic">
	Founded in 2020, Healthflex.com has had a highly accomplished, uniquely experienced team of qualified executives in the fields of medicine, healthcare, Internet technology, and business to bring you the most comprehensive, sought-after healthcare information anywhere. Nationally recognized, doctor-produced by a network of more than 70 U.S. board-certified physicians, Healthflex.com and 
</p>
</div>
<div class="col-md-4">
<img src={%static "aus2.jpg" %} style="height: 150px; width: 150px" class=" pt-3 pb-3 rounded float-left" alt="">
<img src={%static "aus1.jpg" %} style="height: 150px; width: 150px" class=" pt-3 rounded float-right" alt="...">
<img src={%static "aus3.jpg" %} style="height: 150px; width: 150px" class=" pt-3 rounded float-left" alt="">
<img src={%static "aus4.jpg" %} style="height: 150px; width: 150px" class=" pt-3 rounded float-right" alt="...">
<img src={%static "aus5.jpg" %} style="height: 150px; width: 150px" class=" pt-3 pb-3 rounded float-left" alt="">
<img src={%static "aus6.jpg" %} style="height: 150px; width: 150px" class=" pt-3 pb-3 rounded float-right" alt="...">
</div>
</div>


<h2 class="pt-3" style="font-family: Century Gothic ; color: #F0F8FF">What we do</h2>
<div class="row mt-3">
<div class="col-md-3 mt-2">
<div class="p-2 "> <i class=" icofont-doctor icofont-2x text-light"> </i></div>
<p class="text-light" style="font-family: Century Gothic">
	Founded in 2020, Healthflex.com has had a highly accomplished, uniquely experienced team of qualified executives in the fields of medicine, healthcare
</p>

</div>
<div class="col-md-3 mt-2">
<div class="p-2 "> <i class=" icofont-patient-bed icofont-2x text-light"> </i></div>
<p class="text-light" style="font-family: Century Gothic">
	Founded in 2020, Healthflex.com has had a highly accomplished, uniquely experienced team of qualified executives in the fields of medicine, healthcare
</p>

</div>

<div class="col-md-3 mt-2">
<div class="p-2 "> <i class=" icofont-test-bottle icofont-2x text-light"> </i></div>
<p class="text-light" style="font-family: Century Gothic">
	Founded in 2020, Healthflex.com has had a highly accomplished, uniquely experienced team of qualified executives in the fields of medicine, healthcare
</p>

</div>

<div class="col-md-3 mt-2">
<div class="p-2 "> <i class=" icofont-surgeon icofont-2x text-light"> </i></div>
<p class="text-light" style="font-family: Century Gothic">
	Founded in 2020, Healthflex.com has had a highly accomplished, uniquely experienced team of qualified executives in the fields of medicine, healthcare
</p>

</div>
</div>



</div>
</div>{% endblock %}



