{% extends 'basemain.html' %}
{% block content %}

    <form action="" method="POST" >
        {% csrf_token %} 
    <div style="font-family: Century Gothic ; background: linear-gradient(to left, rgb(22, 184, 143),  rgb(238, 241, 191) ) ; padding: 150px;"> <center>
       
         <h2 class="m-3 "> <b>FORGOT PASSWORD ?</b> </h2>
		<h5 > CHANGE PASSWORD HERE !</h5>
		<hr>


		 <div class="container">
	  		 
	  		 <div class="row">
	  		 	<div class="col-md-4 "></div>
	  		 	<div class="col-md-4">
	  			    

                    <label > Enter your registered email : </label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Your EMAIL" ><br>

                    
                    {% if formpost %}
                    Mail sent to registered emailid
                    
                   
                    
                    {% endif %}
                    
                     {% csrf_token %}<br>

<button class="btn btn-success">SUBMIT</button>
<div class="col-md-4 "></div>
</div></div></div></div>
</form>

{% endblock %}