{% extends 'dashboard.html' %}
{% block content %}
      <!-- header ends here -->
      <div class="container"> 
<div class = "row pt-5">
  <div class="col-md-3"></div>
  <div class="col-md-7  " style=" padding-top: 40px ;  padding-bottom: 30px ; margin-top: 100px">
    <form class="border border-info pt-4" action="" method="POST">
      {% csrf_token %}
          <h1 style=" color:black ; font-family: Century Gothic " class="text-center  pb-4"  > Help and Support  </h1>

      <div class="row">
        <div class="col-md-1"></div>
          <div class="col-md-10">

          
              <div class="input-group mb-1">
              <div class="input-group-prepend">
                 <span class="input-group-text" id="basic-addon1 ">Subject</span>
              </div>
                  <input type="text" class="form-control"  placeholder="Enter Subject" name="subject" aria-label="Username" aria-describedby="basic-addon1">
             </div>

             <div class="input-group">
 
              <textarea class="form-control mt-1" aria-label=" textarea "  placeholder="Message" name="message"></textarea>
              </div>
              <button class="btn btn-info mb-2  mt-3"  style="margin-left: 40%;" value="Helpsupport">SUBMIT</button>    

              <div class="col-md-1"></div>
           </form>

          </div>
     <div class="col-md-2"></div>
 

 



            
</div>
</div>
      <!-- footer --> 
<!-- JavaScript files-->
{% endblock %}