{% extends 'basemain.html' %}
{% block content %}
{% load static %}

<form >
        
    
    <div style="font-family: Century Gothic ; background: linear-gradient(to left, rgb(22, 184, 143),  rgb(238, 241, 191) ) ; padding: 120px;"> <center>
   
     <h2 class="pl-2" style="font-family: century gothic"> <b>Thanking You . </b> </h2>
    
    <hr>


     <div class="container">
           
           <div class="row">
               <div class="col-md-3 "></div>
               <div class="col-md-6 ">
                  
              <h4>We appreciate you for sending us your Message, We will be Back with Your Queries</h4>
      
      </div>
  </div>
</div>
</div>
</form>
{% endblock %}